# Whitelist system: ignore all files within this ".config" directory by
# default. If a particular file wishes to be tracked, specify it below the
# first rule and prefix it with an '!'.
/*
!/.gitignore
!/fontconfig/
!/foot/
!/gammastep/
!/sway/
